body { background-color: #fff;}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
}

#slog {
	background-color: #dfd;
}

#header {
	font-size: 18px;
	color: #33f;
}

#content {
	margin-left: 5;
	margin-right: 5;
	background-color: #fff;
}

#footer {
	font-size: 10px;
	color: #33f;
}

.user-options {
	text-align: right;
}