<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all"/>
	
	<%= @content_for_header %>
	
	<title>Sailing Log</title>
    <LINK REL="SHORTCUT ICON" HREF="/favicon.ico">
</head>

<body>
	<h1>
	<% if @current_user %>
		<%= link_to 'Logout', :controller => 'login', :action => 'destroy' %>
	<% else %>
		<%= link_to 'Login', login_path %>
	<% end %>
	</h1>
	<hr>
	<%= yield %>
</body>

</html>